<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceNowUrl" value="https://dev62634.service-now.com/api/now/table/incident" />
    <add key="ServiceNowUserName" value="makhan8" />
    <add key="ServiceNowPassword" value="Password1" />
    <add key="ServiceNowAssignmentGroup" value="ServiceDesk" />
    <add key="ServiceNowCatalogueName" value="My Application Name" />
    <add key="ServiceNowCategory" value="Incident" />
    <add key="ServiceNowSubCategory" value="Incident" />
    <add key="ServiceNowIncidentImpact" value="3" />
    <add key="ServiceNowIncidentPriority" value="3" />
    <add key="ServiceNowContactType" value="webservice" />
    <add key="ServiceNowCallerId" value="webservice" />
    <add key="ServiceNowTicketShortDescription" value="makhan8- Sample Exception generated for SNOW" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>